<td class="title"><%="#{task.title}" %></td>
<td class="description"><%="#{task.description}" %></td>
<td class="start-date"><%= time_tag task.start_date %></td>
<td class="due-date"><%= time_tag task.due_date %></td>
<td class="task-status"><%="#{task.status}" %></td>
<td><%= image_tag task.image.url(:medium) %><%= link_to "Remove Image", list_task_remove_path(list_id: @list.id, task_id: task.id), method: :delete %> | </td>
<td><%= link_to "Edit Task", edit_list_task_path(@list.id, task) %> |    <%= link_to "Remove Task", list_task_path(list_id: @list.id, task_id: task.id), method: :delete %></td>