<h1><%= "#{@list.title}" %></h1>
<h6><%= "#{@list.description}" %> </h6>

<%= button_to "Create New Task", new_list_task_path(@list), method: :get %>

<% @tasks.each do |task| %>
  <tr>
    <td><strong>Title:</strong> <%= " #{task.title}" %></td><br>
    <td><strong>Description:</strong> <%= " #{task.description}" %></td><br>
    <td><strong>Start Date:</strong><%= " #{task.start_date}" %></td><br>
    <td><strong>Due Date:</strong><%= " #{task.due_date}" %></td><br>
    <td><strong>Status:</strong><%= " #{task.status}"  %> </td><td><%= button_to 'Mark Complete', list_tasks_complete_path(@list.id, task.id), :task_id => task.id, :method=>:post  %></td>
    <td><%= link_to "Edit", edit_list_task_path(@list.id, task) %></td><br>
  </tr>
<% end %>