<h1><%= "#{@list.title}" %></h1>
<h6><%= "#{@list.description}" %> </h6>

<p><input name="search-box" class="search-box" placeholder="Filter By Name"</p>

<p><%= button_to "Create New Task",
new_list_task_path(@list), method: :get %>  </p>

<ul><button class="show-future"><%="Show Future" %></button><button class="show-completed"><%="Show Complete" %></button></ul>

<table id="myTable" class="tablesorter"> 
  <thead>
    <tr>
      <th><strong>Title</strong></th>
      <th><strong>Description</strong></th>
      <th><strong>Start Date</strong></th>
      <th><strong>Due Date</strong></th>
      <th><strong>Status</strong></th>
      <th> Image </th>
    </tr>
  </thead>
  <tbody class="all-task">  
  <% @tasks.each do |task| %>
    <% if !task.the_past? %>
      <tr class="<%=task.status%> future" >
        <td class="title"><%="#{task.title}" %></td>
        <td class="description"><%="#{task.description}" %></td>
        <td class="start-date"><%= time_tag task.start_date %></td>
        <td class="due-date"><%= time_tag task.due_date %></td>
        <td><a href="#" class="task-status" data-id=<%=task.id %>><%= task.status %></a></td>
        <td><%= image_tag task.image.url(:thumb) %><%= link_to "Remove Image", list_task_remove_path(list_id: @list.id, task_id: task.id), method: :delete %> | </td>
        <td><%= link_to "Edit Task", edit_list_task_path(@list.id, task) %> |    <%= link_to "Remove Task", list_task_path(list_id: @list.id, task_id: task.id), method: :delete %></td>
      </tr>
      <% else %>
      <tr class="<%=task.status%>" >
        <td class="title"><%="#{task.title}" %></td>
        <td class="description"><%="#{task.description}" %></td>
        <td class="start-date"><%= time_tag task.start_date %></td>
        <td class="due-date"><%= time_tag task.due_date %></td>
        <td><a href="#" class="task-status" data-id=<%=task.id %>><%= task.status %></a></td>
        <td><%= image_tag task.image.url(:thumb) %><%= link_to "Remove Image", list_task_remove_path(list_id: @list.id, task_id: task.id), method: :delete %>  </td>
        <td><%= link_to "Edit Task", edit_list_task_path(@list.id, task) %> |    <%= link_to "Remove Task", list_task_path(list_id: @list.id, task_id: task.id), method: :delete %></td>
      </tr>
      <% end %>
  <% end %>
  </tbody>
</table>

