<%= form_for @task, url: list_tasks_path(params[:list_id]), method: :post do |f| %>
  <%= f.text_field :title, placeholder:"Title" %>
  <%= f.text_field :description, placeholder:"Description" %>
  <%= f.date_field :start_date, plaecholder: "mm/dd/year" %>
  <%= f.date_field :due_date, plaecholder: "mm/dd/year" %>
  <%= f.submit %>


  <% flash.each do |type, message| %>
    <p> <%= message %></p>
  <%end %>
<% end %>